* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book {
  margin: 1rem;
  width: 33%;
}

.book-data-line {
  display: flex;
  justify-content: space-between;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.search-form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-form-btn {
  margin: .5rem auto;
  padding: .25rem .5rem;
  width: 6rem;
  cursor: pointer;
}

label {
  width: 75px;
}

input {
  min-width: 150px;
  margin: 0.25rem 0;
}

@media screen and (max-width: 787px) {
  .book {
    width: 50%;
    min-width: 285px;
  }
}
